
*{
  margin:0px;
  padding:0px;
}


@for $i from 1 through 10 {
  .block-#{$i} { width: 60* $i; }
}

.block-1{
 // width:70px;
  height:70px;
  background-color:aqua;
  position:absolute;
  left:0px;

  .up {
  background-color:blue;
  width:50px;
  height:10px;
  position: absolute;
  left:10px;
  z-index:1;
}
.left {
  background-color:red;
  width:10px;
  height:50px;
  position: absolute;
  top:10px;
}

.down {
  background-color:blue;
  width:50px;
  height:10px;
  position: absolute;
  left:10px;
  z-index:1;
  top:60px;
}
.right {
  background-color:red;
  width:10px;
  height:50px;
  position: absolute;
  left:60px;
  top:10px;
}
}

.block-2{
//  width:70px;
  height:70px;
  background-color:grey;
  position:absolute;
  left:60px;

  .up {
  background-color:blue;
  width:50px;
  height:10px;
  position: absolute;
  left:10px;
  z-index:1;
}


.down {
  background-color:blue;
  width:50px;
  height:10px;
  position: absolute;
  left:10px;
  z-index:1;
  top:60px;
}
.right {
  background-color:red;
  width:10px;
  height:50px;
  position: absolute;
  left:60px;
  top:10px;
}
}

.block-3{

  height:70px;
  background-color:green;
  position:absolute;
  left:120px;

  .up {
  background-color:blue;
  width:50px;
  height:10px;
  position: absolute;
  left:10px;
  z-index:1;
}


.down {
  background-color:blue;
  width:50px;
  height:10px;
  position: absolute;
  left:10px;
  z-index:1;
  top:60px;
}
.right {
  background-color:red;
  width:10px;
  height:50px;
  position: absolute;
  left:60px;
  top:10px;
}
}
