
*{
  margin:0px;
  padding:0px;
}

$h:10px;
$v: 50px;
$size: $v+2*$h;

.down{
  background-color:lightgrey;
  width:$v;
  height:$h;
  position: absolute;
  left:$h;
  z-index:1;
  top:$h+$v;
}
.right{
  background-color:lightgrey;;
  width:$h;
  height:$v;
  position: absolute;
  left:$h+$v;
  top:$h;
}
.up{
  background-color:lightgrey;;
  width:$v;
  height:$h;
  position: absolute;
  left:$h;
  z-index:1;
}
.left{
  background-color:lightgrey;;
  width:$h;
  height:$v;
  position: absolute;
  top:$h;
}

.black {background-color:black}

.blue{background-color:blue}

body {
  display:flex;
  flex-direction:column;
  justify-content: center;
   align-items:center;
}

h1{
  margin:10px;
}

.hola{
  position:relative;
  right:10%;
}
