

*{
  margin:0px;
  padding:0px;
}

$h:8px;
$v: 50px;
$size: $v+2*$h;
$bottom: $v;
$border-radius:0px;
.down{
  background-color:lightgrey;
  width:$v;
  height:$h;
  position: absolute;
  left:$h;
  z-index:1;
  top:$h+$v;
  border-radius:$border-radius;
}
.right{
  background-color:lightgrey;
  width:$h;
  height:$v;
  position: absolute;
  left:$h+$v;
  top:$h;
  z-index:1;
  border-radius:$border-radius;
}
.up{
  background-color:lightgrey;;
  width:$v;
  height:$h;
  position: absolute;
  left:$h;
  border-radius:$border-radius;
}
.left{
  background-color:lightgrey;;
  width:$h;
  height:$v;
  position: absolute;
  top:$h;
 border-radius:$border-radius;
}
.bottom {
  position: absolute;
  width:$bottom;
  height:$bottom;
  background-color:#e6e6ff;
  left:$h;
  top:$h;
  border-radius:$border-radius;
}

.black {background-color:black}

.blue{background-color:blue}

body {
  display:flex;
  flex-direction:column;
  justify-content: center;
   align-items:center;
}

h1{
  margin:10px;
}

#container{
  position:relative;
  right:10%;
}
